!!!
%html{lang: "en"}
  = render 'metadata'
  %body
    %p.scroll-bar
    %p.outline-scroll-marker
    %p.header-scroll-marker
    = render 'nav'
    .container{style: "min-height: 100vh;"}
      = render 'masthead'
      = render "outline"
    .container.bg-black{style: "min-height: 100vh;"}
    .center
      %p alto solutions ©
    %script{src: "node_modules/jquery/dist/jquery.min.js"}
    %script{src: "js/index.js"}