#hero.pb-5
  .row
    .col-50.square.m-1
      #header.blue.m-1
        UPLIFTING
        %br
        ARTISTS 
        ONE
        .emphasis TOKEN
        AT A TIME
    .col-50.m-1.h-20
      .row
        .col-80
          .list-item.m-1.border-blue{ href: "#outline"}
            %h1.m-1.center
              I am an
              %i.emphasis artist
      .row
        .col-80
          .list-item.m-1.border-blue{ href: "#outline"}
            %h1.m-1.center
              I am a
              %i.emphasis fan
      .row
        .col-80
          .list-item.m-1.border-blue{ href: "#outline"}
            %h1.m-1.center
              I am an  
              %i.emphasis investor
      .row
        .col-80
          .list-item.m-1.border-blue{ href: "#outline"}
            %h1.m-1.center
              What is 
              %i.emphasis ALTO?