.row
  .col-20
  #outline.col-60.m-1.border-blue.center
    .m-1
      %h1 How does this work?
      .list-item.m-1.border-blue
        %h1.m-1
          %i.emphasis Rocky Raccoon
          is a killer musician low on funding
      %p.bullet &#8226
      .list-item.m-1.border-blue
        %h1.m-1
          %i.emphasis He 
          is wanting some financial support.. outside of 
          %i.emphasis{ style: "text-decoration: line-through" } record labels
      %p.bullet &#8226
      .list-item.m-1.border-blue
        %h1.m-1
          No one wants to see 
          %i.emphasis Rocky 
          succeed like 
          %i.emphasis.underline his fans do.
      %p.bullet &#8226
      .list-item.m-1.border-blue
        %h1.m-1
          So
          %i.emphasis Rocky
          makes an
          %i.emphasis.underline ALTO 
          account
      %p.bullet &#8226
      .list-item.m-1.border-blue
        %h1.m-1
          %i.emphasis He
          decides to make 
          %i.emphasis.underline 1000 tokens 
          and sell them at
          %i.emphasis.underline $50/token
          at launch
      %p.bullet &#8226
      .list-item.m-1.border-blue
        %h1.m-1
          With a full sale,
          %i.emphasis Rocky
          now has 
          %i.emphasis.underline $50,000
          to invest back into his music and fans
      %p.bullet &#8226
      .list-item.m-1.border-blue
        %h1.m-1
          After some time, 
          %i.emphasis Rocky's
          token (owned by the fans) is now worth 
          %i.emphasis.underline quadruple
          it's original sale value
      %p.bullet &#8226
      .list-item.m-1.border-blue
        %h1.m-1
          The investments made by 
          %i.emphasis Rocky's loyal fans
          gave Rocky the ability to launch!
  .col-20